*.swp
*.py[cod]
*.swo
.tox
*.egg-info
*_db
.#*
\#*
*~
.sass-cache
static/scss/*.css
storage
test_storage
media
dist
.noseids
.DS_Store
ve
.idea
.project
.pydevproject
.ropeproject
.settings
*.sublime-project
*.sublime-workspace
log
*.db
chromedriver.log
docs/_build
docs/javascript
docs/python
heron/host_settings.py
heron/local.py
heron/_local_tests.py
heron/_local_qunit_settings.py
heron/settings/local/dev.py
heron/settings/local/qunit.py
heron/settings/local/tests.py
heron/templates/nest/includes/timestamp.html
.magpie.cookies
.heron_qunit.db
heron_qunit
.coverage
node_modules
npm-debug.log
.RData
.Rhistory
TAGS
TODO
work
serverconf/solr/conf/_rest_managed.json
Vagrantfile.local.json
.vagrant/
.zero-knife.rb
vagrant/.vagrant_first_provision.lock
